{% extends "base_login.html" %}

{% block 'titulo' %}
Cadastrar Operador
{% endblock %}

{% block 'conteudo' %}

<div class="container">
    <br>
    {% if status == '1' %}
    <br>
    <div class="alert alert-danger" role="alert"><b>
            <center>Email já cadastrado.</center>
        </b>
    </div>
    {% endif %}

    {% if status == '2' %}
    <br>
    <div class="alert alert-danger" role="alert"><b>
            <center>Nome de acesso em uso.</center>
        </b>
    </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'pesquisa_operadores' %}">Pesquisa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'cadastro_operadores' %}">Cadastro</a>
        </li>
    </ul>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <br>
            <h2>Cadastro de Operador</h2>
            <form class="needs-validation" action="{% url 'valida_operador' %}" method="POST" novalidate>
                {% csrf_token %}
                <label for="nome_completo">Nome Completo</label>
                <input type="text" class="form-control " name="nome_completo" id="nome_completo"
                    placeholder="Nome completo" required>
                <br>
                <label for="nome_acesso">Usuário (Sem Espaços):</label>
                <input type="text" class="form-control" name="nome_acesso" id="nome_acesso"
                    onfocusout="valida_usuario(this)" placeholder="Nome de Usuario" oninput="semespaco(this)" required>
                <div id="erro_nome_acesso" style="display:block; color: red;"> </div>
                <br>
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" oninput="semespaco(this)" onfocusout="valida_email(this)"
                    name="email" id="email" placeholder="nome@exemplo.com" required>
                <div id="erro_email" style="display:block; color: red;"> </div>
                <br>
                <label for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" onfocusout="valida_senha(this)"
                    required>
                <div id="erro_senha" style="display:block; color: red;"> </div>
                <br>
                <label for="confirmacao_senha">Confirmação da Senha</label>
                <input type="password" class="form-control" name="confirmacao_senha" id="confirmacao_senha"
                    onfocusout="valida_confirmacao_senha(this)" required>
                <div id="erro_confirmacao_senha" style="display:block; color: red;"> </div>
                <br>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <a href="{% url 'login' %}" class='btn btn-danger'>Retornar</a>
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<script>
    function semespaco(i) {
        console.log("LOG TESTE: " + i.value)
        i.value = i.value.replaceAll(" ", "");
    }

    function valida_email(i) {
        email = document.getElementById('email').value
        if (!email) {
        } else {
            $.ajax({
                url: "{% url 'valida_email' %}",
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'email': email
                },
                success: function (resposta) {
                    resposta = JSON.parse(resposta)
                    console.log(resposta)
                    if (resposta['status'] == "1") {
                        document.getElementById('erro_email').style.display = "block";
                        document.getElementById('erro_email').innerHTML = "<b> <font size=1pt> O e-mail " + email + " já está em uso!</font></b>";
                        document.getElementById('email').value = ''
                    } else if (resposta['status'] == "2") {
                        document.getElementById('erro_email').style.display = "none";
                    } else if (resposta['status'] == "3") {
                        document.getElementById('erro_email').style.display = "block";
                        document.getElementById('erro_email').innerHTML = "<b> <font size=1pt> E-Mail Invalido: " + email + "</font></b>";
                        document.getElementById('email').value = ''
                    }
                }
            })
        }
    }

    function valida_usuario(i) {
        nome_acesso = document.getElementById('nome_acesso').value
        if (!nome_acesso) {
        } else {
            $.ajax({
                url: "{% url 'valida_usuario_login' %}",
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'nome_acesso': nome_acesso
                },
                success: function (resposta) {
                    resposta = JSON.parse(resposta)
                    console.log(resposta)
                    if (resposta['status'] == "1") {
                        document.getElementById('erro_nome_acesso').style.display = "block";
                        document.getElementById('erro_nome_acesso').innerHTML = "<b> <font size=1pt> O nome de acesso " + nome_acesso + " já está em uso!</font></b>";
                        document.getElementById('nome_acesso').value = ''
                    } else if (resposta['status'] == "2") {
                        document.getElementById('erro_nome_acesso').style.display = "none";
                    }
                }
            })
        }
    }

    function valida_senha(i) {
        senha = document.getElementById('senha').value
        if (senha.length < 8 && senha) {
            document.getElementById('erro_senha').style.display = "block";
            document.getElementById('erro_senha').innerHTML = "<b><font size=1pt> Sua senha precisa ter no minimo 8 caracteres. </font></b>"
        } else {
            document.getElementById('erro_senha').style.display = "none";
        }
    }

    function valida_confirmacao_senha(i) {
        confirmacaoSenha = document.getElementById('confirmacao_senha').value
        senha = document.getElementById('senha').value
        if (!senha || !confirmacaoSenha) {

        } else if (senha != confirmacaoSenha) {
            document.getElementById('erro_confirmacao_senha').style.display = "block";
            document.getElementById('erro_confirmacao_senha').innerHTML = "<b> <font size=1pt> A confirmação de senha não é igual a senha </font></b>";
        } else {
            document.getElementById('erro_confirmacao_senha').style.display = "none";
        }
    }
</script>
{% endblock %}