{% extends 'base_login.html' %}

{% block 'titulo' %}
Cadastro de usuários
{% endblock %}

{% block 'conteudo' %}

<div class="container  border-container">
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Pesquisa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/home/cadastros/cadastro_usuarios/">Cadastro</a>
        </li>
    </ul>
    <h2>Pesquisa de Usuário</h2>
    <form action="{% url 'pesquisa_usuarios' %}" method="POST"> {% csrf_token %}
        <div class="form-row">
            <input type="hidden" name="formulario_pesquisa" id="formulario_pesquisa" value='1'>
            <div class="form-group col-md-8">
                <label for="inputNome">Nome Completo</label>
                <input type="text" class="form-control form-control-sm" name="nome_completo" id="inputNome"
                    placeholder="Nome completo">
            </div>
            <div class="form-group col-md-4">
                <label for="inputDataNasc">Data de Nascimento</label>
                <input type="date" class="form-control form-control-sm" name="data_nascimento" id="inputDataNasc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputCPF">C.P.F.</label>
                <input type="text" class="form-control form-control-sm" name="cpf" id="inputCPF"
                    oninput="mascara(this, 'cpf')" placeholder="000.000.000-00">
                <br>
                <button type="submit" id="buttonPesquisar" class="btn btn-primary">Pesquisar</button>
            </div>
            <div class="form-group col-md-2">
                <label for="inputCNS">C.N.S.</label>
                <input type="text" class="form-control form-control-sm" name="cns" id="inputCNS"
                    onfocusout="teste(this)" oninput="mascara(this, 'cns')" placeholder="000.0000.0000.0000">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNomeMae">Nome da Mãe</label>
                <input type="text" class="form-control form-control-sm" name="nome_mae" id="inputNomeMae"
                    placeholder="Nome da Mãe">
            </div>
    </form>
    <div class="table-responsive table-responsive-lg">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome Completo</th>
                    <th scope="col">Dt Nasc.</th>
                    <th scope="col">Nome da Mãe</th>
                    <th scope="col">C.P.F.</th>
                    <th scope="col">C.N.S.</th>
                </tr>
            </thead>
            <tbody>
                {% if usuarios %}
                {% for usuario in usuarios %}
                <tr>
                    <th scope="row">{{ usuario.id }}</th>
                    <td>{{ usuario.nome_completo }}</td>
                    <td>{{ usuario.get_data_nascimento }}</td>
                    <td>{{ usuario.nome_mae }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.cns }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
</div>
</div>

<script>
    function mascara(i, t) {

        var v = i.value;

        if (isNaN(v[v.length - 1])) {
            i.value = v.substring(0, v.length - 1);
            return;
        }

        if (t == "cpf") {
            i.setAttribute("maxlength", "14");
            if (v.length == 3 || v.length == 7) i.value += ".";
            if (v.length == 11) i.value += "-";
        }

        if (t == "cns") {
            i.setAttribute("maxlength", "18");
            if (v.length == 3 || v.length == 8 || v.length == 13) i.value += ".";
        }
    }

    function teste(i) {
        console.log(i.value)
    }
</script>
{% endblock %}